.stripe-product-card-wrapper {
    border: 1px solid rgb(123, 123, 123);
    margin: 10px;
    padding: 10px;
}

.plan-cards-container {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-around;
    
}